process {
  cpus = { check_max( 1 * task.attempt, 'cpus' ) }
	memory = { check_max( 6.GB * task.attempt, 'memory' ) }
	time = { check_max( 4.h * task.attempt, 'time' ) }

	withName:ANNOTATE {
		memory = { check_max( 24.GB * task.attempt, 'memory' ) }
	}

	withName:CELLTYPE_CONCORDANCE {
		memory = { check_max( 24.GB * task.attempt, 'memory' ) }
	}

    maxRetries = 2
    maxErrors = '-1'

    errorStrategy = 'retry'
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 252.GB
  max_cpus = 12
  max_time = 96.h
}
